/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    text-align: center;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

h1 a
{
	font-family: "Ubuntu", sans-serif;
	color: #0f647c;
}

h1 a:hover
{
	text-decoration: none;
}

form
{
	margin: 50px;
}

.form-group
{
	margin-bottom: 20px;
}


/**
*
*	GLOBAL MENU
*
*
**/
ul
{
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 10px;
	text-transform: uppercase;
}

li
{
	display: inline;
}

li a
{
	color: #ababab;
	padding: 15px;
}

li a:hover
{
	text-decoration: none;
	color: #0f647c;
	border-bottom: 1px solid #0f647c;
}


/*
*
*	PORTFOLIO - TABLE
*
*/

table
{
	width: 960px;
	text-align: left;
}

#cash td
{
	font-weight: bold;
}

th
{
	color: #0f647c;
}


/*
*
*	BUTTON
*
*/
.btn
{
	margin: 10px;
	background: none;
	border: 1px solid #ababab;
	color: #ababab;
	padding: 10px;
	width: 150px;
	border-radius: 10px;
}

.btn:hover
{
	background-color: #0f647c;
	color: white;
	border: none;
}

/*
*
*	INPUT FIELD
*
*/
input
{
	border-radius: 5px;
	border: 1px solid #ababab;
	padding: 5px;
}



















